html, body {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

#map {
    height: 100%;
    width: 83%;
    float: left;
}

#menu {
    height: 5%;
    width: 100%;
    background-color: rgba(225, 225, 225, 0.208);
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
    padding-top: 5px;
    letter-spacing: 5px;
    text-align: center;
    font-weight: bold;
}

#container {
    height: 95%;
    width: 100%;
}

#side {
    height: 100%;
    width: 17%;
    float: right;
    background-color: rgb(96, 150, 26);
}
